body {
  background-color: #202020;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-input {
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 500px !important;
  border-radius: 10px;

  button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.96);
    }
  }
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin: 3rem;
}
